# Default ignored files
/../../Cyptography /.idea/shelf/
/../../Cyptography /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Cyptography /.idea/httpRequests/
# Zeppelin ignored files
/../../Cyptography /.idea/ZeppelinRemoteNotebooks/
